/* TODO: Example 01 (Activity 2) CSS goes here */

html {
    box-sizing: border-box;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
}

*, ::before, ::after{
    box-sizing:inherit;
}

header {
    font-size:2rem;
    color:white;
    padding:0 1rem;
    height:100px;
    line-height:100px;
    background-color:#8f63ed;
}

footer{
    font-size:1.5rem;
    color:white;
    text-align:center;
    height:60px;
    line-height:60px;
    background-color:#8f63ed;
    bottom:0;
    width:100%;
}

#main-container{
    display:table;
    height: calc(100vh -160px);
    width:100vw;
}

body{
    margin:0;
}

#aside-col{
    display:none;
}

#main-col{
    display: table-cell;
    background-color:#8f81e7; 
}

#main-container .box{
    height:100px;
    line-height:100px;
    background-color:#703fb5;
    text-align:center;
    color:white;
    margin:1rem 1rem 0 1rem;
}


@media all and (min-width:600px){
    
    #main-col .box{
        float:left;
        margin:1rem 0 0 1rem;
        width:calc((100% - 3rem)/2);
    }
}
@media all and (min-width:800px){
    #main-col{
        width:70%;
    }

    #main-container .box{
        float:left;
        margin:1rem 0 0 1rem;
        width:calc((100% - 5rem)/3);
    }

    #aside-col{
        display: table-cell;
        background-color:#8f81e7e9; /*Can be any colors or values just needs to look like the final product*/
    }

    #aside-co .box{
        width: calc((100% - 3rem)/2);
        vertical-align: top;

    }

    .clearfix::after{
        content:"";
        clear:both;
        display:table;
    }

   
#main-container [selected] {
    color:#7597a8;
    background-color:#8acece;
}

#main-container [featured] {
    border: 5px solid #703fb5;
    background-color:#45276e;
}

ul.links{
    list-style:none;
    padding:1rem;
}
ul.links li{
    color:black;
    padding:.5rem;
    background-color:#8db6d8;
    margin-bottom:.3rem;
    text-align:center;
}
ul.links > li > a{
    color:inherit;
    text-decoration: none;
}
ul.links > li > a:link{
    color:inherit;
    text-decoration: none;
}
ul.links > li > a:visited{
    color:#653c48;
}
ul.links > li > a:active{
    border-bottom: 3px solid #8f63ed;
}
ul.links > li > a:hover{
    background-color:#8acece;
}

}

/*

colors current:

white    text color of footer & header 
#6f2a45  footer & header background color 

#eff0f2  background color of main column 

#086c82  main color of boxes in main container 
white    text color of text in main container boxes 

#fffaea  background color of side column

#7597a8  text color of selected box 
#82d3ec  background color of selected box 

black    background color of featured box 
#086c82  border color for featured box 

black    text color for links 
#b5e3f3  background color behind links & side bar
#653c48  visited link
#6f2a45  active link
#fffaea  hover link 

-----------------------------------------------
color pallete:

#a9129f  darkest magenta 

#8f63ed  dark violetblue 
#8f81e7  light violetblue 
#8f9ce0  middle violetblue 
#8db6d8  lighter violetblue 
#8acece  lightest violetblue 

#703fb5  ourple 


*/